.footer{
    color: #D9D9D9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
}

.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}

.footer-content-left, .footer-content-center, .footer-content-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

/* --- FIX START: Constrain the Main Logo Width --- */
.footer-content-left > img {
    width: 150px; /* Adjust this value if you want it larger/smaller */
}
/* --- FIX END --- */

.footer-content-left ul li, .footer-content-center ul li, .footer-content-right ul li{
    margin-bottom: 10px;
    list-style: none;
}

.footer-content-left h2, .footer-content-center h2, .footer-content-right h2{
    color: white;
}

.footer-social-icons img{
    width: 40px;
    margin-right: 15px; /* Adds spacing between social icons */
    cursor: pointer;
}

.footer-social-icons{
    display: flex;
}

.footer li{
    cursor: pointer;
}

.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0px;
    background-color: gray;
    border: none;
}

@media (max-width:750px) {
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .footer-copyright{
        text-align: center;
    }
}